.DS_Store
.classpath
.project
.settings
.idea/
*.iml
*.jpeg
*.swp
**/*.log
.settings
.settings/
target/
log/
.idea/
*.iml
target-eclipse/
build_profiles/
lib/
info/
backup/
**/node_modules/**
Pipfile.lock
Pipfile
