<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="About, Index, Fund, Passive, Digital Asset, Bletchley"/>
    <meta name="description" content="A description of the mission and values of the Bletchley Indexes."/>
    <title>Bletchley Indexes: About us</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />

<div class="topnav">
  <li><a th:href="@{/home}" href="home.html" class="homelink">Bletchley Indexes</a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a th:href="@{/annc}" href="annc.html">Updates</a></li>
  <li><a class="active" th:href="@{/about}" href="about.html">About</a></li>
  <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>
  <li><a th:href="@{/blog}" href="blog.html">Blog</a></li>
</div>


</head>
<body>
   

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>


<div id="onboard">
<img th:src="@{/img/bench_normal.jpg}" src="../static/img/bench_normal.jpg" width="100%" height="300" alt="" />
<h6 align="center">A Better Benchmark</h6>
</div>

<div id="onboard-mobile">
<img th:src="@{/img/bench_mobile.jpg}" src="../static/img/bench_mobile.jpg" width="100%" height="300" alt="" />
<h6 align="center">A Better Benchmark</h6>
</div>


<div class="container">
<div class="third">
  <h2>Data Providers</h2>
  <div class="containertextbox">
  <p>We work with teams seeking to improve the quality of information in the digital asset space by integrating our indexes with their solutions. Our index construction expertise adds to the value of existing products, with our API providing all the necessary data for integration. Please contact us if you are interested in including Bletchley Indexes in your offering.</p>
  <img th:src="@{/img/network.jpg}" src="../static/img/network.jpg" width="150" height="70" alt="" />
</div>
</div>
</div>
<div class="container">
<div class="third">
  <h2>Benchmarking</h2>
  <div class="containertextbox">
  <p>We calculate a full family of accurate indexes with reliable historical data through a straightforward, transparent, and unbiased methodology. Our indexes are ideal for digital asset managers, traders, and investors to measure against when determing their performance. Our independence inspires trust in our pricing to not be biased by tracking strategies.</p>
  <img th:src="@{/img/scales.jpg}" src="../static/img/scales.jpg" width="150" height="70" alt="" />
</div>
</div>
</div>
<div class="container">
<div class="third-last-element">
  <h2>Asset Managers</h2>
  <div class="containertextbox">
  <p>Passive indexes are used by fund managers as guidelines for their allocations. Index tracking assets are extremely efficient, low fee investment mechanisms and continue to grow in popularity across traditional finance and digital assets. Please inquire if you are interested in developing tracking products on Bletchley Indexes.</p><br/>
  <img th:src="@{/img/stocks.jpeg}" src="../static/img/stocks.jpeg" width="150" height="70" alt="" />
</div>
</div>
</div>

<div class="container">
<div class="half-mobile">
  <h2>Indexing and Rebalancing Expertise</h2>
  <div class="containertextbox-half">
  <p>The team members of Bletchley Indexes are financial professionals with experience trading rebalances in every major equity index. As an index provider, we now have insight into both practical implementation and theoretical index construction. Our methodology is designed to minimize the cost of execution by tracking funds, and we provide index announcements 48 hours ahead of our effective rebalance to help managers plan their rebalancing strategy. We are happy to assist fund managers and platform developers in determining how to best execute on their products utilizing our tools.</a></p>
</div>
</div>
</div>
<div class="container">
<div class="half-mobile-image">
    <img th:src="@{/img/library.PNG}" src="../static/img/library.png" width="60%" height="100%" alt="" />
</div>
</div>

<div class="container">
<div class="half-two-image">
    <img th:src="@{/img/tree.jpeg}" src="../static/img/tree.jpeg" width="60%" height="100%" alt="" />
</div>
</div>
<div class="container">
<div class="half-two">
  <h2>Independence from Tracking Products</h2>  
  <div class="containertextbox-half">
  <p>Bletchley is independent of any asset managers or data providers, preventing the conflict of interest that often exists between index providers and other financial services. As a stand alone index product, we have no incentive to lock users into any given fund manager, investment strategy, or custody platform. We refuse exclusivity contracts so that the entire digital asset industry can use our information to continue to develop new solutions to indexing and improving data quality. </p>
</div>
</div>
</div>

<div class="container">
<div class="half-API">
  <h2>Full Service API</h2>
  <div class="containertextbox-half">
  <p>Bletchley provides four unique API endpoints supporting live pricing and asset weights (updated once a minute) as well as historical daily pricing and asset weights. All of our indexes are available, and we can assist in advising how to accurately track our indexes using these tools.</p>
</div>
</div>
</div>
<div class="container">
<div class="half-API-image">
    <img th:src="@{/img/gears.png}" src="../static/img/gears.png" width="60%" height="100%" alt="" />
</div>
</div>

<div class="container">
<div class="half-two-image">
    <img th:src="@{/img/mansion.jpg}" src="../static/img/mansion.jpg" width="60%" height="100%" alt="" />
</div>
</div>
<div class="container">
<div class="half-two">
  <h2>Bletchley Park</h2>
  <div class="containertextbox-half">
  <p>The Bletchley Indexes are named after Bletchley Park, which was the hub for British codebreakers during World War Two. It was at Bletchley Park that the enigma of German codes was transformed into everyday language, taking something extremely complex and making it into something simple. Bletchley Indexes intends to carry on that codebreaking spirit by transforming the world of digital assets into simple, understandable tools. Bletchley Park is quietly become a popular tourist destination, plan your trip <a th:href="@{https://bletchleypark.org.uk/}" href="https://bletchleypark.org.uk/">here!</a></p>
</div>
</div>
</div>

<!---
<div class="container">
<div class="half-mobile">
  <h2>Bletchley Park</h2>  
  <div class="containertextbox-half">
  <p>The Bletchley Indexes are named after Bletchley Park, which was the hub for British codebreakers during World War Two. It was at Bletchley Park that the enigma of German codes was transformed into everyday language, taking something extremely complex and making it into something simple. Bletchley Indexes intends to carry on that codebreaking spirit by transforming the world of digital assets into simple, understandable tools.</p>
</div>
</div>
</div>
<div class="container">
<div class="half-mobile-image">
  <img th:src="@{/img/mansion.jpg}" src="../static/img/mansion.jpg" width="60%" height="100%" alt="" />
</div>
</div>
-->

<div class="row">
</div>


<div class="container">
<div class="container-slogan">
    <p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
    <a th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a>
    <br/>
    <br/>
</div>
</div>

</body>
</html>
