<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="About, Index, Fund, Passive, Digital Asset, Bletchley"/>
    <meta name="description" content="A description of the mission and values of the Bletchley Indexes."/>
    <title>Bletchley Indexes: About us</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />

<div class="topnav">
  <li><a th:href="@{/home}" href="home.html" class="homelink">Bletchley Indexes</a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a class="active" th:href="@{/about}" href="about.html">About</a></li>
  <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>
</div>


</head>
<body>
   

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>


<div id="onboard">
<img th:src="@{/img/bench_normal.jpg}" src="../static/img/bench_normal.jpg" width="100%" height="300" alt="" />
<h6 align="center">A Better Benchmark</h6>
</div>

<div id="onboard-mobile">
<img th:src="@{/img/bench_mobile.jpg}" src="../static/img/bench_mobile.jpg" width="100%" height="300" alt="" />
<h6 align="center">A Better Benchmark</h6>
</div>


<div class="container">
<div class="third">
  <h2>Relatable</h2>
  <div class="containertextbox">
  <p>Making the digital asset industry understandable to everyone and expanding the community
  through simple communication and standard concepts. Driving the shift from market capitalization
  to true asset performance.</p>
  <img th:src="@{/img/network.jpg}" src="../static/img/network.jpg" width="150" height="70" alt="" />
</div>
</div>
</div>
<div class="container">
<div class="third">
  <h2>Complete</h2>
  <div class="containertextbox">
  <p>Providing a full family of indexes for digital assets by bringing the best tools of the financial industry to upgrade cryptocurrency investment monitoring to the professional level.</p><br/>
  <img th:src="@{/img/stocks.jpeg}" src="../static/img/stocks.jpeg" width="150" height="70" alt="" />
</div>
</div>
</div>
<div class="container">
<div class="third-last-element">
  <h2>Benchmark</h2>
  <div class="containertextbox">
  <p>We calculate accurate indexes with reliable historical data through a straightforward and transparent
  methodology, while accommodating different investment philosophies with market cap and equal weighted indexes.</p>
  <img th:src="@{/img/scales.jpg}" src="../static/img/scales.jpg" width="150" height="70" alt="" />
</div>
</div>
</div>

<div class="container">
<div class="half-mobile">
  <h2>Independent from Tracking Products</h2>  
  <div class="containertextbox-half">
  <p>Following the model in the financial industry and preventing the conflict of interest between index creators and asset managers</p>
</div>
</div>
</div>
<div class="container">
<div class="half-mobile-image">
  <img th:src="@{/img/tree.jpeg}" src="../static/img/tree.jpeg" width="60%" height="100%" alt="" />
</div>
</div>

<div class="container">
<div class="half-two-image">
    <img th:src="@{/img/rsz_piggy.jpg}" src="../static/img/rsz_piggy.jpg" width="60%" height="100%" alt="" />
</div>
</div>
<div class="container">
<div class="half-two">
  <h2>Run on donations</h2>
  <div class="containertextbox-half">
  <p>Launched by two enthusiasts trying to develop the market</p>
</div>
</div>
</div>

<div class="container">
<div class="half-mobile">
  <h2>Bletchley Park</h2>  
  <div class="containertextbox-half">
  <p>The Bletchley Indexes are named after Bletchley Park, which was the hub for British codebreakers during World War Two. It was at Bletchley Park that the enigma of German codes was transformed into everyday language, taking something extremely complex and making it into something simple. Bletchley Indexes intends to carry on that codebreaking spirit by transforming the world of digital assets into simple, understandable tools.</p>
</div>
</div>
</div>
<div class="container">
<div class="half-mobile-image">
  <img th:src="@{/img/mansion.jpg}" src="../static/img/mansion.jpg" width="60%" height="100%" alt="" />
</div>
</div>

<div class="row">
</div>


<div class="container">
<div class="container-slogan">
    <p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
</div>
</div>

</body>
</html>
