<!DOCTYPE html>
<html lang="en" style="background-color:#F7F9F9;">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="Announcements, Index, Fund, Announcement, Bletchley"/>
    <meta name="description" content="Announcement information for the Bletchley Indexes."/>
    <title>Bletchley Indexes: Announcements</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />


<div class="topnav">
  <li><a th:href="@{/home}" href="home.html" class="homelink">Bletchley Indexes</a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a class="active" th:href="@{/annc}" href="annc.html">Updates</a></li>
  <li><a th:href="@{/about}" href="about.html">About</a></li>
  <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>
  <li><a th:href="@{/blog}" href="blog.html">Blog</a></li>
</div>

</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>


<div id="onboard">
<img th:src="@{/img/rsz_thailand.jpg}" src="../static/img/rsz_thailand.jpg" width="100%" height="300" alt="" />
</div>
<div id="onboard-mobile">
<img th:src="@{/img/rsz_thailand_mobile.jpg}" src="../static/img/rsz_thailand_mobile.jpg" width="100%" height="300" alt="" />
</div>

    <h1 align = "center">Updates and Announcements</h1>
       

<button class="accordion-two">New Feature: Index Data Download</button>
<div class="panel">
  <p>
  Index data is now available for download as CSV (comma separated value) files. 
  There is one file per index where each file contains a human readable time, the same 
  time as a unix time stamp in milliseconds, the index value in bitcoin and the index 
  value in US dollars. A link to the downloads page can be found on the bottom of the 
  home page or click     
  <a th:href="@{/downloads.html}" href="downloads.html">here</a>
  </p>
</div>


<button class="accordion">August Rebalance</button>
<div class="panel">
<br/>
  The August Rebalance will be effective as of 8/16/2017 and index membership changes are confirmed. Please see the
  tables in the methodology section for member weightings after the rebalance. <br/><br/>
  <b>Bletchley 10 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>NEO</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>Monero</li>
        <li>Stratis</li>
    </ul>
    </li>
</ul>
</div> 
  <b>Bletchley 20 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Monero</li>
        <li>Stratis</li>
        <li>Qtum</li>
        <li>Omise Go</li>
        <li>TenX</li>
        <li>EOS</li>
        <li>Civic</li>
        <li>Basic Attention Token</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>MaidSafeCoin</li>
        <li>Factom</li>
        <li>Decred</li>
        <li>GameCredits</li>
        <li>Dogecoin</li>
        <li>Ardor</li>
        <li>Byteball</li>
        <li>NEO</li>
    </ul>
    </li>
</ul>
</div> 

  <b>Bletchley Ethereum Token Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Omise Go</li>
        <li>TenX</li>
        <li>EOS</li>
        <li>Civic</li>
        <li>Bancor</li>
        <li>Funfair</li>
        <li>Storj</li>
    </ul>
  </li>
    <li>Deletions
      <ul class ="second">
        <li>DigixDAO</li>
        <li>Edgeless</li>
        <li>Wings</li>
    </ul>
    </li>
</ul>
</div> 
</div>



<button class="accordion-two">Bitcoin Cash Treatment</button>
<div class="panel">
<p>Bitcoin Cash was added to the Bletchley 10 Indexes in accordance with our Methodology on August 1st at approximately 15:00 US Central Time. Please note that this means there are currently 11 members in the index. Bitcoin cash will remain in the index until the next Rebalance on August 16th at which point it will remain eligible for inclusion if it meets all normal requirements.</p>
</div>



<button class="accordion">July Rebalance</button>
<div class="panel">
<br/>
  The July Rebalance will be effective as of 7/19/2017 and index membership changes are confirmed. Please see the
  tables in the methodology section for member weightings after the rebalance.<br/><br/>
  <b>Bletchley 10 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>IOTA</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>BitShares</li>
    </ul>
    </li>
</ul>
</div> 
  <b>Bletchley 20 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Byteball</li>
        <li>BitShares</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>NXT</li>
        <li>DigiByte</li>
    </ul>
    </li>
</ul>
</div> 

  <b>Bletchley Ethereum Token Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Status</li>
        <li>Basic Attention Token</li>
        <li>Metal</li>
        <li>Edgeless</li>
        <li>Wings</li>
        <li>Melon</li>
    </ul>
  </li>
</ul>
</div> 
</div>


<button class="accordion-two">Launch of Ethereum Token Indexes</button>
<div class="panel">
<p>We are excited to announce that we have launched another index family, the Bletchley Ethereum Token Indexes. This index will be composed of exclusively ERC-20 tokens and have a variable number of members not to exceed 30. Please see the methodology 
page for a full description, inital membership, and creation values.</p>
</div>

<button class="accordion">June Rebalance</button>
<div class="panel">
<br/>
  The June Rebalance will be effective as of 6/21/2017 and index membership changes are confirmed. Please see the
  tables in the methodology section for member weightings after the rebalance. <br/><br/>
  <b>Bletchley 10 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Stratis</li>
        <li>BitShares</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>Augur</li>
        <li>Stellar Lumens</li>
    </ul>
    </li>
</ul>
</div> 
  <b>Bletchley 20 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Augur</li>
        <li>Stellar Lumens</li>
        <li>NEO</li>
        <li>Gnosis</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>Stratis</li>
        <li>BitShares</li>
        <li>Peercoin</li>
        <li>PIVX</li>
    </ul>
    </li>
</ul>
</div> 

</div>

<button class="accordion-two">May Rebalance</button>
<div class="panel">
<br/>
  The May Rebalance will be effective as of 5/17/2017 and index membership changes are confirmed. Please see the
  tables in the methodology section for member weightings after the rebalance.<br/><br/>
  <b>Bletchley 10 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>Stellar Lumens</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>MaidSafeCoin</li>
    </ul>
    </li>
</ul>
</div> 
  <b>Bletchley 20 Indexes</b>
  <div class='containerindex'>
  <ul class="indexannc">
  <li>Additions
    <ul class="second">
        <li>MaidSafeCoin</li>
        <li>Peercoin</li>
        <li>NXT</li>
        <li>DigiByte</li>
    </ul>
  </li>
  <li>Deletions
      <ul class ="second">
        <li>First Blood</li>
        <li>Ark</li>
        <li>Einsteinium</li>
        <li>Stellar Lumens</li>
    </ul>
    </li>
</ul>
</div> 

</div>





<script th:inline="javascript">
/*<![CDATA[*/
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
 /*]]>*/
</script>

<script th:inline="javascript">
/*<![CDATA[*/
var acc = document.getElementsByClassName("accordion-two");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
 /*]]>*/
</script>


<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98341900-1', 'auto');
      ga('send', 'pageview');
</script>




<div class="container">
<div class="container-slogan-annc">
    <p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
</div>
</div>


</body>
</html>
