<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="About, Index, Fund, Passive, Digital Asset, Bletchley, Blog"/>
    <meta name="description" content="A blog for the Bletchley Indexes."/>
    <title>Bletchley Indexes: Blog</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />

<div class="topnav" id="myTopnav">
  <li><a class="homelink" th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a th:href="@{/annc}" href="annc.html">Updates</a></li>
  <li><a th:href="@{/about}" href="about.html">About</a></li>
  <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>
  <li><a class="active" th:href="@{/blog}" href="blog.html">Blog</a></li>

</div>


</head>
<body>
   

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>

<script th:inline="javascript">
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

<br/><br/><br/>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_october_2018}" href="blog_october_2018.html"><img th:src="@{/img/ocean_fuzzy.jpg}" src="../static/img/ocean_fuzzy.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_october_2018}" href="blog_october_2018.html"><h2>October Rebalance Report</h2></a></p>
    <div class="blogdate"><p>October 1st, 2018</p></div>
    <p>As always, we present the following data without commentary. Cut-off date used was 9/28 this month. The rebalance was completed as of 00:15 UTC on 10/1.</p>
    <p><a th:href="@{/blog/blog_october_2018}" href="blog_october_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_september_2018}" href="blog_september_2018.html"><img th:src="@{/img/basin.jpg}" src="../static/img/basin.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_september_2018}" href="blog_september_2018.html"><h2>September Rebalance Report</h2></a></p>
    <div class="blogdate"><p>September 1st, 2018</p></div>
    <p>As always, we present the following data without commentary. Cut-off date used was 8/23 this month. The rebalance was completed as of 22:30 UTC on 8/31.</p>
    <p><a th:href="@{/blog/blog_september_2018}" href="blog_september_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_august_2018}" href="blog_august_2018.html"><img th:src="@{/img/birds.jpg}" src="../static/img/birds.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_august_2018}" href="blog_august_2018.html"><h2>August Rebalance Report</h2></a></p>
    <div class="blogdate"><p>August 1st, 2018</p></div>
    <p>As always, we present the following data without commentary. Cut-off date used was 7/28 this month. The rebalance was completed as of 22:30 UTC on 7/31.</p>
    <p><a th:href="@{/blog/blog_august_2018}" href="blog_august_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_july_2018}" href="blog_july_2018.html"><img th:src="@{/img/rsz_alone.jpg}" src="../static/img/rsz_alone.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_july_2018}" href="blog_july_2018.html"><h2>July Rebalance Report</h2></a></p>
    <div class="blogdate"><p>July 1st, 2018</p></div>
    <p>As always, we present the following data without commentary. Cut-off date used was 6/28 this month. If there are any missing performance metrics you would like to see, please let us know.</p>
    <p><a th:href="@{/blog/blog_july_2018}" href="blog_july_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_6_3_2018}" href="blog_6_3_2018.html"><img th:src="@{/img/rsz_lightning.jpg}" src="../static/img/rsz_lightning.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_6_3_2018}" href="blog_6_3_2018.html"><h2>Digital Assets Recap for Week Ending 6/3/2018</h2></a></p>
    <div class="blogdate"><p>June 3rd, 2018</p></div>
    <p>As always, we present the following data without commentary. Weekly data is for the one week period from 0 UTC on 5/27 to 0 UTC on 6/3. Month to date data is from 5/1 to 6/3. If there are any missing performance metrics you would like to see, please let us know.</p>
    <p><a th:href="@{/blog/blog_6_3_2018}" href="blog_6_3_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_5_27_2018}" href="blog_5_27_2018.html"><img th:src="@{/img/rsz_about.jpg}" src="../static/img/rsz_about.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_5_27_2018}" href="blog_5_27_2018.html"><h2>Digital Assets Recap for Week Ending 5/27/2018</h2></a></p>
    <div class="blogdate"><p>May 27th, 2018</p></div>
    <p>Our second weekly report on metrics for the digital asset class. As always, we present the following data without commentary. Data is for the one week period from 0 UTC on 5/20 to 0 UTC on 5/27. If there are any missing performance metrics you would like to see, please let us know.</p>
    <p><a th:href="@{/blog/blog_5_27_2018}" href="blog_5_27_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
  <a th:href="@{/blog/blog_5_20_2018}" href="blog_5_20_2018.html"><img th:src="@{/img/rsz_thailand_mobile.jpg}" src="../static/img/rsz_thailand_mobile.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/blog_5_20_2018}" href="blog_5_20_2018.html"><h2>Weekly Summary for 5/20/2018</h2></a></p>
    <div class="blogdate"><p>May 20th, 2018</p></div>
    <p>Our first attempt at a weekly report on metrics for the digital asset class. Graphics will improve over the next few versions, thanks for bearing with us. Also we unfortunately have some missing data for this week, we will backfill shortly but were unable to at this time. Feedback greatly appreciated!</p>
    <p><a th:href="@{/blog/blog_5_20_2018}" href="blog_5_20_2018.html">Read More</a></p>
<div class="underline">&nbsp;</div>
</div>

<div class="containerbodyblog" style="align-content: center">
<br/>
	<a th:href="@{/blog/idx_perf_post}" href="idx_perf_post.html"><img th:src="@{/img/stock_index.jpg}" src="../static/img/stock_index.jpg" width="100%" height="200" alt="" /></a>
    <p><a th:href="@{/blog/idx_perf_post}" href="idx_perf_post.html"><h2>Indexing and Performance in Crypto Assets</h2></a></p>
    <div class="blogdate"><p>September 8th, 2017</p></div>
    <p>Passive indexing is a strategy continuing to gain market share in traditional financial markets, but is still not truly available in the crypto asset class. This is partly due to a lack of mechanisms for investors to track indexes, as well as a lack of quality benchmarks that measure true performance.</p>
    <p><a th:href="@{/blog/idx_perf_post}" href="idx_perf_post.html">Read More</a></p>

<div class="underline">&nbsp;</div>
</div>
<div class="container">
<div class="container-slogan">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
    <a th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a>
    <br/>
    <br/>
</div>
</div>

</body>
</html>
