<!DOCTYPE html>
<html lang="en" style="background-color:#F7F9F9;">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="Contact, Index, Fund, Donate, Bletchley"/>
    <meta name="description" content="Contact and donation information for the Bletchley Indexes."/>
    <title>Bletchley Indexes: Contact</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />


<div class="topnav">
  <li><a class="homelink" th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a th:href="@{/annc}" href="annc.html">Updates</a></li>
  <li><a th:href="@{/about}" href="about.html">About</a></li>
  <li><a class="active" th:href="@{/contact}" href="contact.html">Contact</a></li>
  <li><a th:href="@{/blog}" href="blog.html">Blog</a></li>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
   

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>


<div id="onboard">
<img th:src="@{/img/rsz_field.jpg}" src="../static/img/rsz_field.jpg" width="100%" height="300" alt="" />
</div>

<div id="onboard-mobile">
<img th:src="@{/img/rsz_field.jpg}" src="../static/img/rsz_field.jpg" width="100%" height="300" alt="" />
</div>

<div class="container">
<div class="halfcontact">
  <h2>Contact Us</h2>  
  <div class="containertextbox">
  <p>Please reach out to us with any feedback, questions, or suggested features. We are also actively looking to partner and collaborate with asset managers for developing tracking products as well as with data providers to compliment their offerings.</p>
  <br/>
  <p>We offer a live and historical API providing pricing and weightings for our full suite of products on a case by case basis for a nominal fee. Please inquire if you would like access.</p>
  <br/>
  <p>Contact us at: mike@coinmetrics.io or info@coinmetrics.io</p>
</div>

</div>
</div>
<br/>
<div class="container">
<div class="halfcontact">
  <div id="mc_embed_signup" style="justify-content: center; text-align:center;">
<form action="https://bletchleyindexes.us18.list-manage.com/subscribe/post?u=658873bbc9c3bcac6eed8b2be&amp;id=758e72e50c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to our monthly reports</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_658873bbc9c3bcac6eed8b2be_758e72e50c" tabindex="-1" value=""></div><br/>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mailchimp"></div>
    </div>
</form>
</div>

<div id="mc_embed_signup_mobile" style="justify-content: center; text-align:center;">
<form action="https://bletchleyindexes.us18.list-manage.com/subscribe/post?u=658873bbc9c3bcac6eed8b2be&amp;id=758e72e50c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to our monthly reports</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_658873bbc9c3bcac6eed8b2be_758e72e50c" tabindex="-1" value=""></div><br/>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mailchimp"></div>
    </div>
</form>
</div>

<br/>

<br/>
<p>You can also interact with us on twitter!</p>
<a th:href="@{https://twitter.com/intent/tweet?screen_name=BletchleyIndex}" href="https://twitter.com/intent/tweet?screen_name=BletchleyIndex" class="twitter-mention-button" data-size="large" data-show-count="false">@BletchleyIndex</a>  

  <!--<h2>Donate</h2>
  <div class="containertextbox">
  <p>Donations are greatly appreciated and will go towards adding more features, new indexes, and additional API support. </p>
        <br/><br/>


        <img th:src="@{/img/Donate.png}" src="../static/img/Donate.png" />
        <br/><br/>
<p>Bitcoin address: 1F1L2S5UQuhfZpXQpTgwbsmAktrBnAe1XH</p>
<p>Ethereum: 0x28ea68d0cadd9b1f8355b30a6a9585eb0380c81d</p>
<p>Litecoin: LXyK6LexZ6v15dLZMmYVzfV53EDedTxR7e</p>
<br/><br/><br/><br/><br/><br/><br/><br/>
</div>
-->
</div>
</div>


<div class="container-slogan" style="background-color:#F7F9F9;">
<p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
    <a th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a>
    <br/>
    <br/>
</div>


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98341900-1', 'auto');
      ga('send', 'pageview');
</script>


</body>
</html>
