<!DOCTYPE html>
<html lang="en" style="background-color:#F7F9F9;">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="Download, Index, Fund, Donate, Bletchley"/>
    <meta name="description" content="Download and donation information for the Bletchley Indexes."/>
    <title>Bletchley Indexes: Download</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />


    <div class="topnav">
        <li><a class="homelink" th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a></li>
        <li><a th:href="@{/home}" href="home.html">Home</a></li>
        <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
        <li><a th:href="@{/annc}" href="annc.html">Updates</a></li>
        <li><a th:href="@{/about}" href="about.html">About</a></li>
        <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>
        <li><a th:href="@{/blog}" href="blog.html">Blog</a></li>
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>


<div class="containerdownloads">
        <div class="download-header">
            <h2>Bletchley Indexes Exportable Daily Price Data</h2>
        </div>    
        <table class="download-table">
            <caption>Bletchley Indexes Exportable Daily Price Data</caption>
            <thead>
                <tr>
                    <th>Index name</th>
                    <th>Download link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ten Index</td>
                    <td><a href="bletchley_ten.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Twenty Index</td>
                    <td><a href="bletchley_twenty.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Ethereum Token Index</td>
                    <td><a href="bletchley_ethereum.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Forty Index</td>
                    <td><a href="bletchley_forty.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Total Index</td>
                    <td><a href="bletchley_total.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Ten Even Index</td>
                    <td><a href="bletchley_ten_even.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Twenty Even Index</td>
                    <td><a href="bletchley_twenty_even.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Ethereum Token Even Index</td>
                    <td><a href="bletchley_ethereum_even.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Forty Even Index</td>
                    <td><a href="bletchley_forty_even.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Total Even Index</td>
                    <td><a href="bletchley_total_even.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Currency Index</td>
                    <td><a href="bletchley_currency.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Platform Index</td>
                    <td><a href="bletchley_platform.csv">Download</a></td>
                </tr>
                <tr>
                    <td>Application Index</td>
                    <td><a href="bletchley_application.csv">Download</a></td>
                </tr>
            </tbody>
        </table>
</div>

<div class="container-slogan" style="background-color:#F7F9F9;">
<p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
    <a th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a>
    <br/>
    <br/>
</div>

<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98341900-1', 'auto');
      ga('send', 'pageview');
</script>
</body>
</html>
