<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="Methodology, Index, Fund, Passive, Digital Asset, Bletchley"/>
    <meta name="description" content="The methodology of how we construct and rebalance our crypto indexes. Also summaries of the Bletchley 10, 20, 40, Total Market, Ethereum Token, and Sector Indexes."/>
    <title>Bletchley Indexes: Methodology</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css"  rel="stylesheet" type="text/css"  />

<div class="topnav">
  <li><a class="homelink" th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a class="active" th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a th:href="@{/annc}" href="annc.html">Updates</a></li>
  <li><a th:href="@{/about}" href="about.html">About</a></li>
  <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>
  <li><a th:href="@{/blog}" href="blog.html">Blog</a></li>
</div>

</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>



<button onclick="topFunction()" id="myBtn" title="Go to top"><img th:src="@{/img/UpArrow.png}" src="../static/img/UpArrow.png" /></button>


<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
        document.getElementById("myBtn").style.display = "block";
    } 
    else{
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


<div class="rightsidebar" style="width:20%;right:5%;background-color: #edf2f7;line-height:1.5;">
  <h3 align="center">Contents</h3>
  <ul class="side">
  <li><a href="#Introduction">Introduction</a>
    <ul class ="side-second">
  <li><a href="#10 Index">10 Indexes</a></li>
  <li><a href="#20 Index">20 Indexes</a></li>
  <li><a href="#40 Index">40 Indexes</a></li>
  <li><a href="#Total Index">Total Market Indexes</a></li>
  <li><a href="#Sector Index">Sector Indexes</a></li>
  <li><a href="#ETI Index">Ethereum Token Indexes</a></li>
    </ul>
  </li>
  <li><a href="#Eligibility Criteria">Eligibility Criteria</a></li>
  <li><a href="#Index Calculation">Index Calculation</a></li>
  <li><a href="#Index Rebalancing">Index Rebalancing</a></li>
  <li><a href="#Base Values">Creation Dates and Values</a></li>
  <!--
  <li><a href="#Index Weights">Index Weights</a></li>
      <ul class ="side-second">
        <li><a href="#10 Index Weight">10 Indexes</a></li>
        <!<li><a href="#10 Even Index Weight">Bletchley 10 Even Index</a></li>
        <li><a href="#20 Index Weight">20 Indexes</a></li>
        <!--<li><a href="#20 Even Index Weight">Bletchley 20 Even Index</a></li>
        <li><a href="#ETI Index Weight">Ethereum Token Indexes</a></li>
    </ul>
  -->
</ul>
<p>&nbsp;</p>
</div>

    
    
     
<br/>
    <h1 align = "center">Bletchley Indexes Methodology</h1>
        <p></p>
 <div class="hide-large" align="left" style="line-height:1.5;">
  <ul class="top">
  <li><a href="#Introduction">Introduction</a>
    <ul class="second">
        <li><a href="#10 Index">10 Indexes</a></li>
        <li><a href="#20 Index">20 Indexes</a></li>
        <li><a href="#40 Index">40 Indexes</a></li>
        <li><a href="#Total Index">Total Market Indexes</a></li>
        <li><a href="#Sector Index">Sector Indexes</a></li>
        <li><a href="#ETI Index">Ethereum Token Indexes</a></li>
    </ul>
  </li>
  <li><a href="#Eligibility Criteria">Eligibility Criteria</a></li>
  <li><a href="#Index Calculation">Index Calculation</a></li>
  <li><a href="#Index Rebalancing">Index Rebalancing</a></li>
  <li><a href="#Base Values">Creation Dates and Values</a></li>
  <!--
  <li><a href="#Index Weights">Historical Index Weights</a></li>
      <ul class ="second">
        <li><a href="#10 Index Weight">10 Indexes</a></li>
        <!<li><a href="#10 Even Index Weight">Bletchley 10 Even Index</a></li>
        <li><a href="#20 Index Weight">20 Indexes</a></li>
        <!<li><a href="#20 Even Index Weight">Bletchley 20 Even Index</a></li>
        <li><a href="#ETI Index Weight">Ethereum Token Indexes</a></li>
    </ul>
  -->
</ul>
</div>
        <br/>
        <div class="containerbody">
        <a name="Introduction"></a>
        <b>Introduction</b>
        <br/>
        <p>It is the objective of the Bletchley Indexes to provide accurate benchmarks for the financial performance of cryptocurrencies and other digital assets to investors through both market capitalization and equal weighted indexes.</p>
        <p>The Bletchley family of indexes are intended to help facilitate communication between the cryptocurrency community and both the professional investment industry and individuals interested in exploring this new asset class.</p>
        <p>The indexes are reflective of the returns an investor would achieve by purchasing all of the assets at the corresponding weights for each index and are rebalanced monthly to account for the inflation rate of each asset, changes in market pricing, and the addition and deletion of index members. Constructed in this way, the Bletchley indexes are a much more accurate benchmark for performance of the industry to an investor than simple gross market capitalizations.</p>
        <br/>
        <a name="10 Index"></a>
        <b>Bletchley 10 Indexes</b>
        <br/>
        <p>The Bletchley 10 Index is a market capitalization weighted index composed of 10 of the most valuable digital assets by market capitalization. The market capitalization of each member is calculated off of the expected total supply in 2050 (pulled from OnChainFX.com) for each asset, then adjusted to reflect the publicly current available amount (float) of each asset available today (also from OnChainFX.com. There are no limits set on the weight of any individual constituent. The market capitalization of each asset spans from $2 billion to $300 billion USD.</p>
        <p>It is understood that some will disagree with the decision to have no cap on the weight of bitcoin or ethereum in the Bletchley 10 Index. After much consideration, we decided that providing a pure market cap weighted index would best capture the asset class, especially when considering that the great majority of people are unaware of or just beginning to explore the industry. For those who disagree, we provide the Bletchley 10 Even Index, which will better capture the performance of the rest of the market. </p>
        <p>The Bletchley 10 Even Index is an equal weighted index composed of the same constituents as the Bletchley 10 Index. At each monthly rebalance, every asset will have a weighting of exactly 10% of the total index, and the constituent weighting will then fluctuate based on changes in market pricing until the next rebalance.</p>
        <br/>
        <a name="20 Index"></a>
        <b>Bletchley 20 Indexes</b>
        <br/>
        <p>The Bletchley 20 Index is a market cap weighted index composed of 20 medium sized digital assets by market capitilization. The market capitalization of each member is calculated off of the expected total supply in 2050 (pulled from OnChainFX.com) for each asset, then adjusted to reflect the publicly current available amount (float) of each asset available today (also from OnChainFX.com. There are no limits set on the weight of any individual constituent. The market cap of each asset spans from $200 million to $5 billion USD.</p>
        <p>The Bletchley 20 Even Index is an equal weighted index composed of the same constituents as the Bletchley 20 Index. At each monthly rebalance, every asset will have a weighting of exactly 5% of the total index, and the constituent weighting will then fluctuate based on changes in market pricing until the next rebalance.</p>
        <br/>
        <a name="40 Index"></a>
        <b>Bletchley 40 Indexes</b>
        <br/>
        <p>The Bletchley 40 Index is a market cap weighted index composed of 40 small sized digital assets by market capitilization. The market capitalization of each member is calculated off of the expected total supply in 2050 (pulled from OnChainFX.com) for each asset, then adjusted to reflect the publicly current available amount (float) of each asset available today (also from OnChainFX.com. There are no limits set on the weight of any individual constituent. The market cap of each asset spans from $30 million to $500 million USD.</p>
        <p>The Bletchley 40 Even Index is an equal weighted index composed of the same constituents as the Bletchley 40 Index. At each monthly rebalance, every asset will have a weighting of exactly 2.5% of the total index, and the constituent weighting will then fluctuate based on changes in market pricing until the next rebalance.</p>
        <br/>
        <a name="Total Index"></a>
        <b>Bletchley Total Market Indexes</b>
        <br/>
        <p>The Bletchley Total Market Index is a market cap weighted index composed of the top 70 crypto assets by market capitilization. This index captures the performance of every asset in the Bletchley Universe, and due to our eligibility requirements reflects performance of roughly the top 100 crypto assets. Each member of the Total Market Index is also a member of either the 10, 20, or 40 indexes. The market capitalization of each member is calculated off of the expected total supply in 2050 (pulled from OnChainFX.com) for each asset, then adjusted to reflect the publicly current available amount (float) of each asset available today (also from OnChainFX.com. There are no limits set on the weight of any individual constituent. The market cap of each asset spans from $30 million to $300 billion USD.</p>
        <p>The Bletchley Total Market Even Index is an equal weighted index composed of the same constituents as the Bletchley Total Market Index. At each monthly rebalance, every asset will have a weighting of exactly 1.43% of the total index, and the constituent weighting will then fluctuate based on changes in market pricing until the next rebalance.</p>
        <br/>
        <a name="Sector Index"></a>
        <b>Bletchley Sector Indexes</b>
        <br/>
        <p>The Bletchley Sector Indexes are market cap weighted indexes composed exclusively of members of the Bletchley Total Market Index. We currently classify assets into one of three sectors, Currencies, Platforms, and Applications. As the Total Market Index currently has 70 members, there will always be a total of 70 unique assets classified and placed into a sector index, while there are no restrictions on the number of constituents in any given sector. </p>
        <p>There is a weighting cap for the platform and application sectors of 25%, and no cap for the currency sector.</p>
        <p>As the eligibility universe is the Bletchley Total Market Index, there are no unique requirements for membership in the Sector Indexes, and no additional ranking considerations during the monthly rebalances. Also as the frameworks for classifying crypto assets is still being developed, please let us know if you disagree with any of the classifications. </p>
        <br/>
        <a name="ETI Index"></a>
        <b>Bletchley Ethereum Token Indexes</b>
        <br/>
        <p>The Bletchley Ethereum Token Index is a market cap weighted index composed of a variable number of assets that are run on the ethereum platform. The market capitalization of each member is calculated off of the expected total supply in 2050 (pulled from OnChainFX.com) for each asset, then adjusted to reflect the publicly current available amount (float) of each asset available today (also from OnChainFX.com. There are no limits set on the weight of any individual constituent. Ethereum itself, along with ethereum classic, are not included in this index. It is composed of every token that is a member of the Bletchley Universe and is classified as ERC20.</p>
        <p>The Bletchley Ethereum Token Even Index is an equal weighted index composed of the same constituents as the Ethereum Token Index. At each monthly rebalance, every asset will have a weighting of exactly 1 divided by the total number of members of the index, and the constituent weighting will then fluctuate based on changes in market pricing until the next rebalance.</p>
        <br/>
        <a name="Eligibility Criteria"></a>
        <b>Eligibility Criteria</b>
        <br/>
        <p>Free floating prices are a requirement of inclusion in the Bletchley Indexes. Any digital asset that is pegged to the value of any other asset, digital or otherwise, is excluded from index membership.</p>
        <p>Volume minimums are put in place to insure that any asset in a index has appropriate liquidity to be an investable asset. The ratio of the previous 30 days cumulative on exchange volume to the adjusted market capitalization of an asset must be greater than 0.1 to be considered for inclusion in the indexes. In addition, for membership in the Bletchley 10 Index, no single exchange can have larger than a 95% volume share of trading in an eligible asset summed across all traded currency pairs. Volume data is sourced from CoinMarketCap.com.</p>
        <p>A free float, or publicly available supply requirement, of at least 10% must be met, as determined by OnChainFX.com.</p>
        <p>Initial coin offerings will be treated in the same manner as all other assets, with the only added criteria that the ICO token is ineligible for the first rebalance following the close of fundraising of the asset.</p>
        <p>An asset must be listed on at least one of what is considered quality exchanges by Bletchley Indexes. This test helps prevent fraudulent assets from being eligible for inclusion in the indexes. These are currently Bitfinex, Bittrex, Kraken, and Binance. Additionally, Binance or Bittrex alone is not sufficient for entry into our ten index.</p>
        <p>An asset meeting all of these criteria will be added to our selection list. All of the rankings on this page reference the location on an asset on the selection list. </p> 
        <br/>
        <a name="Index Calculation"></a>
        <b>Index Calculation</b>
        <br/>
        <p>The index value is defined as the quotient of the sum of the adjusted market capitalization of each member by the divisor of the index. All of these calculations are done in units of bitcoin, and after arriving at an index value in bitcoin, the current exchange rates are then used to determine the US Dollar denominated values.</p>
        <p>Continuity of the index value is maintained by changing the divisor to keep the index value the same at the moment preceding any change, and then immediately following any change. The divisor is only regularly edited at the monthly rebalances, but could also be updated due to any special changes in the indexes.</p>
        <p>The market capitalization of an asset is adjusted to reflect only the currently circulating supply of that asset publicly available for purchase, also called the float. Asset prices are provided by Nomics.com.</p>
        <br/>
        <a name="Index Rebalancing"></a>
        <b>Index Rebalancing</b>
        <br/>
        <p>All of the Bletchley indexes will be rebalanced at 00:00 UTC time on the first day of every month. The monthly rebalance will update both the amount of each asset publicly available and any additions and deletions from the indexes. The values used to determine eligibility for each rebalance will be prices, asset counts, and volume 48, 72, or 96 hours prior to the rebalance (randomized). There will be no changes made to the weights and asset counts outside of the monthly rebalances.</p>
        <p>A buffer rule is used when determining constituent selection at each rebalance to reduce turnover of the index. The rule is applied to the Bletchley 10 Indexes such that all companies in the eligible investment universe ranked in the top 8 by total market capitalization are always included in the index. Then, if any current index member is ranked within the top 12, those members will be selected by rank until the index reaches its membership mandate of 10. If those steps fail to produce 10 members, the highest ranking non member will be added to the index.</p>
        <p>Similarly, the Bletchley 20 Indexes use the same methodology with an automatic addition rank of 16 or higher and automatic deletion for those members ranked 25 and below. The Bletchley 40 Indexes use an automatic addition threshold of 30 and automatic deletion of 50. As they are composed of other Bletchley Indexes, the Bletchley Total Market, Sector, and Ethereum Token Indexes have no unique banding or rebalancing rules. </p>
        <p>In the event of a hard fork in the blockchain of any constituent asset, the fork will be treated as an asset split with both unique forks remaining in the index with the original asset counts up until the next rebalancing. Each fork must also meet our normal eligibility requirements before we will add it to the index, thus it won't be added immediately as the volume must first reach 0.10 (on a quality exchange) of the market cap. At the first rebalance after the fork, all normal eligibility and ranking rules will be enforced on the two unique assets. This treatment will give the potential for an index to have more than its set number of constituents following any contentious hard forks in a member. If the first rebalance after a hard fork occurs within seven days of the fork, any add or delete changes to the assets created by the fork will be delayed until the following rebalance. Asset counts will still be updated in this case.</p>
        <p>Any other unique situations, extreme circumstances surrounding the already described events, or unobtainable asset counts or prices will be handled at the discretion of Bletchley Indexes.</p>
        <br/>
        
        <a name="Base Values"></a>
        <b>Creation Dates and Values</b>
        <br/><br/>
        <table id="weights">

        <tr>
        <th>Index</th>
        <th>Creation Date</th>
        <th>Base Value USD</th>
        <th>Base Value BTC</th>
        </tr>

        <tr>
        <td>Bletchley 10</td>    
        <td>3/18/2017</td>
        <td>100</td>
        <td>0.1</td>
        </tr>
        <tr>
        <td>Bletchley 10 Even</td>
        <td>3/18/2017</td>
        <td>100</td>
        <td>0.1</td>
        </tr>
        <tr>
        <td>Bletchley 20</td>    
        <td>4/19/2017</td>
        <td>100</td>
        <td>0.08317</td>
        </tr>
        <tr>
        <td>Bletchley 20 Even</td>
        <td>4/19/2017</td>
        <td>100</td>
        <td>0.08317</td>
        </tr>
        <tr>
        <td>Bletchley 40</td>    
        <td>10/18/2017</td>
        <td>100</td>
        <td>0.018078</td>
        </tr>
        <tr>
        <td>Bletchley 40 Even</td>
        <td>10/18/2017</td>
        <td>100</td>
        <td>0.018078</td>
        </tr>
        <tr>
        <td>Bletchley Ethereum Token</td>    
        <td>6/21/2017</td>
        <td>100</td>
        <td>0.03617</td>
        </tr>
        <tr>
        <td>Bletchley Ethereum Token Even</td>
        <td>6/21/2017</td>
        <td>100</td>
        <td>0.03617</td>
        </tr>
        <tr>
        <td>Bletchley Total Market</td>    
        <td>12/20/2017</td>
        <td>1000</td>
        <td>0.0600</td>
        </tr>
        <tr>
        <td>Bletchley Total Market Even</td>
        <td>12/20/2017</td>
        <td>1000</td>
        <td>0.0600</td>
        </tr>
        <tr>
        <td>Bletchey Currencies Index</td>
        <td>1/17/2018</td>
        <td>100</td>
        <td>0.009149</td>
        </tr>
        <tr>
        <td>Bletchey Platforms Index</td>
        <td>1/17/2018</td>
        <td>100</td>
        <td>0.009149</td>
        </tr>
        <tr>
        <td>Bletchey Applications Index</td>
        <td>1/17/2018</td>
        <td>100</td>
        <td>0.009149</td>
        </tr>
        </table>
        <br/><br/>
<!--
        <a name="Index Weights"></a>
        <b>Index Weights - Please note these are historical tables, find links to more recent rebalances on our updates page.</b>
        
        <br/><br/>
<a name="10 Index Weight"></a>
<table id="weights">
  <tr>
        <th>Bletchley 10 Index</th>
        <th>Creation</th>
        <th>April</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        </tr>

        <tr>
        <td>Bitcoin</td>    
        <td>75.60%</td>
        <td>71.25%</td>
        <td>54.03%</td>
        <td>45.86%</td>
        <td>53.67%</td>
        <td>57.87%</td>
        <td>54.60%</td>
        </tr>
        <tr>
        <td>Ethereum</td>
        <td>15.46%</td>
        <td>16.51%</td>
        <td>15.31%</td>
        <td>32.54%</td>
        <td>26.68%</td>
        <td>22.89%</td>
        <td>22.70%</td>
        </tr>
        <tr>
        <td>Ripple</td>    
        <td>1.18%</td>
        <td>4.54%</td>
        <td>22.31%</td>
        <td>11.64%</td>
        <td>9.04%</td>
        <td>4.93%</td>
        <td>5.97%</td>
        </tr>
        <tr>
        <td>Litecoin</td>
        <td>0.92%</td>
        <td>2.01%</td>
        <td>2.33%</td>
        <td>2.33%</td>
        <td>3.05%</td>
        <td>1.88%</td>
        <td>2.36%</td>
        </tr>
        <tr>
        <td>Dash</td>
        <td>3.59%</td>
        <td>1.89%</td>
        <td>1.18%</td>
        <td>1.40%</td>
        <td>1.67%</td>
        <td>1.45%</td>
        <td>2.18%</td>
        </tr>
        <tr>
        <td>Monero</td>
        <td>1.34%</td>
        <td>1.09%</td>
        <td>0.73%</td>
        <td>0.78%</td>
        <td>0.74%</td>
        <td>------</td>
        <td>1.23%</td>
        </tr>
        <tr>
        <td>Ethereum Classic</td>
        <td>0.70%</td>
        <td>0.97%</td>
        <td>1.08%</td>
        <td>1.93%</td>
        <td>1.99%</td>
        <td>1.08%</td>
        <td>0.93%</td>
        </tr>
        <tr>
        <td>NEM</td>
        <td>0.48%</td>
        <td>0.90%</td>
        <td>1.85%</td>
        <td>1.90%</td>
        <td>1.65%</td>
        <td>1.85%</td>
        <td>1.76%</td>
        </tr>
        <tr>
        <td>Augur</td>
        <td>0.39%</td>
        <td>0.50%</td>
        <td>0.32%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>MaidSafeCoin</td>
        <td>------</td>
        <td>0.35%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Zcash</td>
        <td>0.35%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Stellar Lumens</td>
        <td>------</td>
        <td>------</td>
        <td>0.85%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Stratis</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>0.79%</td>
        <td>0.57%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>BitShares</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>0.84%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>IOTA</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>0.95%</td>
        <td>2.20%</td>
        <td>1.34%</td>
        </tr>
        <tr>
        <td>NEO</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>1.94%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Bitcoin Cash</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>3.92%</td>
        <td>6.92%</td>
        </tr>
        </table>


        <br/>
       <a name="10 Even Index Weight"></a> 
        <table id="weights">

        <tr>
        <th>Bletchley 10 Even Index</th>
        <th>Creation</th>
        <th>April</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        </tr>

        <tr>
        <td>Bitcoin</td>    
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Ethereum</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Ripple</td>    
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Litecoin</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Dash</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Monero</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>------</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Ethereum Classic</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>NEM</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>Augur</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>MaidSafeCoin</td>
        <td>------</td>
        <td>10.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Zcash</td>
        <td>10.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Stellar Lumens</td>
        <td>------</td>
        <td>------</td>
        <td>10.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Stratis</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>BitShares</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>10.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>IOTA</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>10.00%</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        <tr>
        <td>NEO</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>10.00%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Bitcoin Cash</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>10.00%</td>
        <td>10.00%</td>
        </tr>
        </table>
        <br/>
        
            <a name="20 Index Weight"></a>   
            <table id="weights">

        <tr>
        <th>Bletchley 20 Index</th>
        <th>Creation</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        </tr>
        <tr>
        <td>PIVX</td>    
        <td>10.96%</td>
        <td>2.77%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>2.38%</td>
        </tr>
        <tr>
        <td>Zcash</td>
        <td>8.52%</td>
        <td>5.60%</td>
        <td>8.89%</td>
        <td>8.07%</td>
        <td>5.43%</td>
        <td>5.63%</td>
        </tr>
        <tr>
        <td>Stratis</td>
        <td>7.39%</td>
        <td>6.20%</td>
        <td>------</td>
        <td>------</td>
        <td>7.84%</td>
        <td>6.51%</td>
        </tr>
        <tr>
        <td>Golem</td>    
        <td>6.91%</td>
        <td>8.26%</td>
        <td>7.39%</td>
        <td>4.88%</td>
        <td>2.77%</td>
        <td>3.10%</td>
        </tr>
        <tr>
        <td>Factom</td>
        <td>6.87%</td>
        <td>3.67%</td>
        <td>4.39%</td>
        <td>3.15%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Decred</td>
        <td>6.16%</td>
        <td>3.95%</td>
        <td>2.83%</td>
        <td>3.04%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Steem</td>
        <td>5.93%</td>
        <td>10.91%</td>
        <td>7.21%</td>
        <td>6.83%</td>
        <td>3.52%</td>
        <td>3.69%</td>
        </tr>
        <tr>
        <td>GameCredits</td>
        <td>5.47%</td>
        <td>6.81%</td>
        <td>3.64%</td>
        <td>2.63%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Dogecoin</td>
        <td>5.23%</td>
        <td>5.58%</td>
        <td>4.90%</td>
        <td>4.57%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Waves</td>
        <td>4.57%</td>
        <td>6.66%</td>
        <td>7.18%</td>
        <td>6.56%</td>
        <td>6.11%</td>
        <td>5.50%</td>
        </tr>
        <tr>
        <td>Bytecoin</td>
        <td>3.79%</td>
        <td>5.47%</td>
        <td>8.72%</td>
        <td>6.17%</td>
        <td>3.23%</td>
        <td>3.05%</td>
        </tr>
        <tr>
        <td>Lisk</td>
        <td>3.77%</td>
        <td>2.92%</td>
        <td>5.14%</td>
        <td>4.43%</td>
        <td>3.15%</td>
        <td>9.21%</td>
        </tr>
        <tr>
        <td>Iconomi</td>    
        <td>4.34%</td>
        <td>3.33%</td>
        <td>3.26%</td>
        <td>5.05%</td>
        <td>3.28%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Siacoin</td>
        <td>2.29%</td>
        <td>3.68%</td>
        <td>7.49%</td>
        <td>5.05%</td>
        <td>2.77%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Stellar Lumens</td>    
        <td>3.49%</td>
        <td>------</td>
        <td>5.25%</td>
        <td>4.76%</td>
        <td>2.54%</td>
        <td>3.72%</td>
        </tr>
        <tr>
        <td>Ardor</td>
        <td>3.27%</td>
        <td>4.38%</td>
        <td>3.83%</td>
        <td>2.44%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Bitshares</td>
        <td>3.13%</td>
        <td>5.83%</td>
        <td>---</td>
        <td>6.82%</td>
        <td>4.61%</td>
        <td>2.82%</td>
        </tr>
        <tr>
        <td>Ark</td>
        <td>2.83%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>4.34%</td>
        </tr>
        <tr>
        <td>First Blood</td>
        <td>2.76%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Einsteinium</td>
        <td>2.32%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>MaidSafeCoin</td>
        <td>------</td>
        <td>7.13%</td>
        <td>3.45%</td>
        <td>3.34%</td>
        <td>------</td>
        <td>3.39%</td>
        </tr>
        <tr>
        <td>NXT</td>
        <td>------</td>
        <td>3.01%</td>
        <td>2.42%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Peercoin</td>
        <td>------</td>
        <td>2.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>DigiByte</td>
        <td>------</td>
        <td>1.46%</td>
        <td>3.68%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Augur</td>
        <td>------</td>
        <td>------</td>
        <td>4.89%</td>
        <td>4.83%</td>
        <td>3.03%</td>
        <td>2.68%</td>
        </tr>
        <tr>
        <td>NEO</td>
        <td>------</td>
        <td>------</td>
        <td>1.69%</td>
        <td>7.44%</td>
        <td>------</td>
        <td>13.21%</td>
        </tr>
        <tr>
        <td>Gnosis</td>
        <td>------</td>
        <td>------</td>
        <td>3.74%</td>
        <td>5.58%</td>
        <td>2.62%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Byteball</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>4.35%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Qtum</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>11.11%</td>
        <td>6.94%</td>
        </tr>
        <tr>
        <td>Omise Go</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>7.84%</td>
        <td>12.26%</td>
        </tr>
        <tr>
        <td>TenX</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>6.35%</td>
        <td>2.67%</td>
        </tr>
        <tr>
        <td>EOS</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.78%</td>
        <td>3.52%</td>
        </tr>
        <tr>
        <td>Civic</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>2.78%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Monero</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>9.33%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Basic Attention Token</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>2.64%</td>
        <td>2.85%</td>
        </tr>
        <tr>
        <td>Komodo</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>2.52%</td>
        </tr>
        </table>
        <br/>    
            
            <a name="20 Even Index Weight"></a>
            <table id="weights">
        <tr>
        <th>Bletchley 20 Even Index</th>
        <th>Creation</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        </tr>
        <tr>
        <td>PIVX</td>    
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Zcash</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Stratis</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Golem</td>    
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Factom</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Decred</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Steem</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>GameCredits</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Dogecoin</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Waves</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Bytecoin</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Lisk</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Iconomi</td>    
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Siacoin</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Stellar Lumens</td>    
        <td>5.00%</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Ardor</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Bitshares</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Ark</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>First Blood</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Einsteinium</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>MaidSafeCoin</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>NXT</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Peercoin</td>
        <td>------</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>DigiByte</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Augur</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>NEO</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Gnosis</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>5.00%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Byteball</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>------</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Qtum</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Omise Go</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>TenX</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>EOS</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Civic</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Monero</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Basic Attention Token</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        <td>5.00%</td>
        </tr>
        <tr>
        <td>Komodo</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>5.00%</td>
        </tr>
        </table>
        <br/>    
            
         <a name="ETI Index Weight"></a>
<table id="weights">
  <tr>
        <th>Bletchley Ethereum Token Index</th>
        <th>Creation</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        </tr>

        <tr>
        <td>Golem</td>    
        <td>26.16%</td>
        <td>13.21%</td>
        <td>5.26%</td>
        <td>6.29%</td>
        </tr>
        <tr>
        <td>Gnosis</td>
        <td>13.23%</td>
        <td>15.10%</td>
        <td>4.98%</td>
        <td>3.21%</td>
        </tr>
        <tr>
        <td>Augur</td>    
        <td>17.31%</td>
        <td>13.06%</td>
        <td>5.75%</td>
        <td>5.44%</td>
        </tr>
        <tr>
        <td>Iconomi</td>
        <td>11.53%</td>
        <td>13.65%</td>
        <td>6.22%</td>
        <td>4.09%</td>
        </tr>
        <tr>
        <td>First Blood</td>
        <td>11.00%</td>
        <td>5.03%</td>
        <td>1.50%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>DigixDAO</td>
        <td>9.91%</td>
        <td>7.86%</td>
        <td>------</td>
        <td>3.72%</td>
        </tr>
        <tr>
        <td>SingularDTV</td>
        <td>6.15%</td>
        <td>4.30%</td>
        <td>2.23%</td>
        <td>3.07%</td>
        </tr>
        <tr>
        <td>Aragon</td>
        <td>4.71%</td>
        <td>4.21%</td>
        <td>2.08%</td>
        <td>1.60%</td>
        </tr>
        <tr>
        <td>Status</td>
        <td>------</td>
        <td>6.46%</td>
        <td>5.09%</td>
        <td>2.33%</td>
        </tr>
        <tr>
        <td>Basic Attention Token</td>
        <td>------</td>
        <td>5.97%</td>
        <td>5.00%</td>
        <td>5.78%</td>
        </tr>
        <tr>
        <td>Metal</td>
        <td>------</td>
        <td>4.87%</td>
        <td>3.82%</td>
        <td>4.52%</td>
        </tr>
        <tr>
        <td>Edgeless</td>
        <td>------</td>
        <td>2.46%</td>
        <td>------</td>
        <td>1.85%</td>
        </tr>
        <tr>
        <td>Wings</td>
        <td>------</td>
        <td>2.01%</td>
        <td>------</td>
        <td>1.57%</td>
        </tr>
        <tr>
        <td>Melon</td>
        <td>------</td>
        <td>1.81%</td>
        <td>1.18%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Omise Go</td>
        <td>------</td>
        <td>------</td>
        <td>21.07%</td>
        <td>24.88%</td>
        </tr>
        <tr>
        <td>TenX</td>
        <td>------</td>
        <td>------</td>
        <td>12.05%</td>
        <td>5.42%</td>
        </tr>
        <tr>
        <td>EOS</td>
        <td>------</td>
        <td>------</td>
        <td>10.96%</td>
        <td>7.14%</td>
        </tr>
        <tr>
        <td>Civic</td>
        <td>------</td>
        <td>------</td>
        <td>5.28%</td>
        <td>3.62%</td>
        </tr>
        <tr>
        <td>Bancor</td>
        <td>------</td>
        <td>------</td>
        <td>2.67%</td>
        <td>2.37%</td>
        </tr>
        <tr>
        <td>Funfair</td>
        <td>------</td>
        <td>------</td>
        <td>2.43%</td>
        <td>2.36%</td>
        </tr>
        <tr>
        <td>Storj</td>
        <td>------</td>
        <td>------</td>
        <td>2.41%</td>
        <td>1.25%</td>
        </tr>
        <tr>
        <td>Populous</td>
        <td>------</td>
        <td>------</td>
        <td>2.41%</td>
        <td>3.19%</td>
        </tr>
        <tr>
        <td>Monaco</td>
        <td>------</td>
        <td>------</td>
        <td>2.41%</td>
        <td>2.31%</td>
        </tr>
        <tr>
        <td>Aeternity</td>
        <td>------</td>
        <td>------</td>
        <td>2.41%</td>
        <td>2.45%</td>
        </tr>
        <tr>
        <td>Cofound.it</td>
        <td>------</td>
        <td>------</td>
        <td>2.41%</td>
        <td>1.52%</td>
        </tr>
        </table>


        <br/>
       <a name="ETI Even Index Weight"></a> 
        <table id="weights">

       <tr>
        <th>Bletchley Ethereum Token Even Index</th>
        <th>Creation</th>
        <th>July</th>
        <th>August</th>
        <th>September</th>
        </tr>

        <tr>
        <td>Golem</td>    
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Gnosis</td>
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Augur</td>    
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Iconomi</td>
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>First Blood</td>
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>DigixDAO</td>
        <td>12.50%</td>
        <td>7.14%</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>SingularDTV</td>
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Aragon</td>
        <td>12.50%</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Status</td>
        <td>------</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Basic Attention Token</td>
        <td>------</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Metal</td>
        <td>------</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Edgeless</td>
        <td>------</td>
        <td>7.14%</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Wings</td>
        <td>------</td>
        <td>7.14%</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Melon</td>
        <td>------</td>
        <td>7.14%</td>
        <td>5.56%</td>
        <td>------</td>
        </tr>
        <tr>
        <td>Omise Go</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>TenX</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>EOS</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Civic</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Bancor</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Funfair</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Storj</td>
        <td>------</td>
        <td>------</td>
        <td>5.56%</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Populous</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Monaco</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Aeternity</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        <tr>
        <td>Cofound.it</td>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td>4.35%</td>
        </tr>
        </table>

        

            </div>       
-->
<div class="container">
<div class="container-slogan">
    <p>&nbsp;</p>
    <p>Bletchley - A Better Benchmark</p>
    <a th:href="@{https://www.bletchleyindexes.com/home}" href="https://www.bletchleyindexes.com/home"><img th:src="@{/img/logo_small.PNG}" src="../static/img/logo_small.PNG" width="50px" height="50px" alt=""></a>
    <br/>
    <br/>
</div>
</div>


</body>
</html>
