<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Block Chain Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/> 

</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Bletchley Indices</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/home}" href="home.html">Home</a></li>
                    <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
                    <li class="active"><a th:href="@{/about}" href="about.html">About</a></li>
                    <li><a th:href="@{/contact}" href="contact.html">Contact</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

<div style="margin-left:10%">  
<div style="margin-right:10%">


    <div class="w3-container">
        <br/>
        The Bletchley Indices were launched by cryptocurrency enthusiasts who recognized a lack of meaningful benchmarks to track the digital asset industry as a whole as well as the relative value of digital assets to bitcoin. It is our intention that these indices will provide the crpytocurrency community with a better way to communicate with each other and with those who are beginning to explore all that digital assets have to offer as an investment class.
        <p></p>
        The index values represent the growth of an investment in the underlying portfolio of assets over time, and are adjusted so as to account for and be unaffected by the continual mining of new coins. See the Methodology section for a detailed description of index formulation and for a description of rebalancing procedures.
        <p></p>
        The Bletchley 10 Indexes were set to a reference price of $1000 (1 BTC) on March 18th, 2017. The initial snapshot of prices was intentionally taken at a time when the BTC/USD exchange rate was $999.99, and the exchange rate was rounded to $1000 so the indices would have a reference price of 1 BTC. 
        <p></p>
        It is understood that some will disagree with the decision to have no cap on the weight of bitcoin in the Bletchley 10 Index. After much consideration we decided that providing a pure market cap weighted index would best capture the asset class, especially when considering that the great majority of people are unaware of or just beginning to explore the industry. Also, despite the vast amounts of negativity surrounding much of the community, bitcoin is still by far the dominant player in the space. As such it deserves the high weighting. For those who disagree, we are happy to provide the Bletchley 10 Even Index, which will better capture the performance of the rest of the market. 
        <p></p>
        The indexes are not currently a traded product and it is not a part of the current mission of the Bletchley Indexes.
        <p></p>
        The Bletchley Indices are currently supported soley via donations. 
        <p></p>
        <br/><br/><br/><br/>

    </div> <!-- /container -->
</div>
</div>
</body>
</html>
