<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Block Chain Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Bletchley Indices</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Data</a></li>
                    <li><a href="Methodology.html">Methodology</a></li>
                    <li><a href="About.html">About</a></li>
                    <li class="active"><a href="contact.html">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

<p></p>
Please reach out with any comments, suggestions, partnership inquires, or requests to subscribe to historical data to Bletchley.Indices@gmail.com
<br><br>
Donations are greatly appreciated and will allow more features and indices to be added.<br><br>
  <img src="donate.png" ></a><br><br>
  <p>Bitcoin address: 1E3fLBHfAwBsuRbytF3ZvWxeFHs6Km7dAs</p>

    <p>Ethereum address: 0xe38a3c0327063826727494d5436570265e17ab51</p>

    </div> <!-- /container -->

</body>
</html>
