<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Block Chain Index</title>
    <link rel="stylesheet" href="style.css"/> 

<div class="topnav">
  <li><a th:href="@{/home}" href="home.html" class="homelink">Bletchley Indexes</a></li>
  <li><a th:href="@{/home}" href="home.html">Home</a></li>
  <li><a th:href="@{/methodology}" href="methodology.html">Methodology</a></li>
  <li><a th:href="@{/about}" href="about.html">About</a></li>
  <li><a class="active" th:href="@{/contact}" href="contact.html">Contact</a></li>
</div>

</head>
<body>
  

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98341900-1', 'auto');
  ga('send', 'pageview');

</script>



    <div class="containerbody">

        <p></p>
        Please contact us at BletchleyIndexes@gmail.com with any comments, questions, suggestions, or requests to subscribe to historical data.
        <br/><br/>
        Donations are greatly appreciated and will go towards adding more features and new indexes. The Bletchley Indexes are currently run 100% on donations.
        <br/><br/>


        <img th:src="@{/img/Donate.png}" src="../static/img/Donate.png" />
        <br/><br/>

        <p>Bitcoin address: 1E3fLBHfAwBsuRbytF3ZvWxeFHs6Km7dAs</p>
        <p>Ethereum address: 0xe38a3c0327063826727494d5436570265e17ab51</p>

    </div> 

</body>
</html>
