<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Block Chain Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Bletchley Indices</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Data</a></li>
                    <li class="active"><a href="Methodology.html">Methodology</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
<p></p>

    <div class="container">

Detailed Methodology Links:
<br>
<br>
<li><a href="Methodology.pdf">Methodology</a></li>
<p></p>
<li><a href="math_Methodology.pdf">Mathematical Methodology</a></li>
<br>
Weights at creation on March 18th, 2017:
<br><br>
Bletchley 10 Index
<table>
<!--
<tr>
<th> Ticker&nbsp </th>
<th> Weight </th>
</tr>
-->
<tr>
<td>Bitcoin</td>    
<td>75.60%</td>
</tr>
<tr>
<td>Ethereum</td>
<td>15.46%</td>
</tr>
<tr>
<td>Dash</td>
<td>3.59%</td>
</tr>
<tr>
<td>Monero</td>
<td>1.34%</td>
</tr>
<tr>
<td>Ripple</td>    
<td>1.18%</td>
</tr>
<tr>
<td>Litecoin</td>
<td>0.92%</td>
</tr>
<tr>
<td>Ethereum Classic&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
<td>0.70%</td>
</tr>
<tr>
<td>NEM</td>
<td>0.48%</td>
</tr>
<tr>
<td>Augur</td>
<td>0.39%</td>
</tr>
<tr>
<td>Zcash</td>
<td>0.35%</td>
</tr>
</table>

<br>
Bletchley 10 Even Index
<table>
<!--
<tr>
<th> Ticker&nbsp </th>
<th> Weight </th>
</tr>
-->
<tr>
<td>Bitcoin</td>    
<td>10.00%</td>
</tr>
<tr>
<td>Ethereum</td>
<td>10.00%</td>
</tr>
<tr>
<td>Dash</td>
<td>10.00%</td>
</tr>
<tr>
<td>Monero</td>
<td>10.00%</td>
</tr>
<tr>
<td>Ripple</td>    
<td>10.00%</td>
</tr>
<tr>
<td>Litecoin</td>
<td>10.00%</td>
</tr>
<tr>
<td>Ethereum Classic&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
<td>10.00%</td>
</tr>
<tr>
<td>NEM</td>
<td>10.00%</td>
</tr>
<tr>
<td>Augur</td>
<td>10.00%</td>
</tr>
<tr>
<td>Zcash</td>
<td>10.00%</td>
</tr>
</table>

        </div>

    </div> <!-- /container -->

</body>
</html>
